html { 
    font-size: 62.5%;
}
body {
    background-color: #f5f3f3
}

h1 {
    text-align: center;
}
h2 {
    font-size: 3rem;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
header {
    padding: 20px 0 0 0;
    background: white;
    text-align: center;
}
@media (min-width: 750px) {
    header {
        text-align: left;
    }
}
.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}
#encabezado {
    margin: 30px 0;
}
.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.contenido-hero {
    margin-top: 80px;
    color: white;
}
.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}
.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}
.contenido-hero form .submit-buscador {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
}


.barra {
    padding: 20px 0;
    background: #741d51; /* Old browsers */
    background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.barra p {
    margin:0;
    color: white;
}
.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 750px) {
    .icono {
        margin-bottom:0;
    }
}
.icono1 {
    background-image: url(/img/icono1.png);
}
.icono2 {
    background-image: url(/img/icono2.png);
}
.icono3 {
    background-image: url(/img/icono3.png);
}

#lista-cursos .row {
    margin-bottom:20px;
}




/*posicion de cartas e imagenes*/
.card1, .card2, .imagen1, .imagen2{
    width: 530px !important;
    height: 250px !important;
    border-radius: 1rem !important;
    margin-right: 15px;
    position:absolute;
}

/*posicion de cartas e imagenes*/
.card3, .card4, .card5, .imagen3, .imagen4, .imagen5{
    width: 343px !important;
    height: 250px !important;
    border-radius: 1rem !important;
    margin-right: 22px;
    
}

.card{
    border: transparent !important;
}

/*Imagen de la bandera de colombia*/
.img-colombia{
    position:absolute;
    margin-top: 20px;
    margin-left: 100px;
}

.img-colombia1{
    position:absolute;
    margin-top: 20px;
    margin-left: 140px;
}

/*Titulo de la ciudad*/
.ciudad{
    position:absolute;
    color: rgb(255, 255, 255);
    margin-top: 25px;
    margin-left: 25px;
}

/*Titulo de la ciudad Santa Marta y Cartagena*/
.ciudad-sc{
    position:absolute;
    color: rgb(255, 255, 255);
    margin-top: 25px;
    margin-left: 30px;
    
}

/*Transicion de cartas*/
.img-ciudad:hover{
    cursor: pointer;
    border: rgb(255, 145, 0) 1px solid;
}

/*centralizacion de la galeria*/
.galery1, .galery2{
    padding-left: 80px;
}

/*Boton RESERVAR / modal*/
.btn-reservar{
    width: 60px;
    height: 25px;
}

/*cartas e imagenes descubre colombia*/
.card-img-top{
    height: 175px;
    border-radius: 1rem !important;
}

.card-img-top:hover{
    cursor: pointer;
    border: rgb(255, 145, 0) 1px solid;
}


.card-descubre{
    margin-right: 22px;
    margin-top: 10px;
}






.agregar-carrito {
    margin:10px 0;
}

.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}
@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}
.info-card  {
    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}


.footer {
    margin-top: 40px;
    border-top:1px solid #aaa;;
    padding-top: 40px;   
}
.footer .menu a{
display: block;
margin-bottom: 10px;
text-decoration: none;
}

.subscription {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    padding: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    flex-wrap:wrap;
    justify-content: center;
}
.footer_subbanner{
    display: flex;
    margin-bottom: 10px;
    margin-left: 45px;
    color:#aaa;
    margin-top:10px;
    font-size:100%;
    justify-content: center;
}

.title_normal   {
    text-align: center;
    line-height: inherit;
    font-weight: inherit;
    color:#aaa;
    margin-top:10px;
    margin-bottom:10px;
    
}
.aliniation{
    background-color: #00224f;
}

.footer-top{
    text-align:center;
    margin-bottom: 1px;
    background-color:#003580;
} 

.top-buttom {
    margin-top:30px;
    margin-bottom: 20px;
    border-color:white;
    background-color:#003580 ;
    COLOR:WHITE;
}

.clearfix {
    background-color: #003580;
}


.footer-top-list{
    display:flex;
    justify-content: center;
    margin-top:1px;
}

.footer-top-link {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    padding: 15px 10px;
    font-size: 13px;
    background: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1em;
    height: 1em;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
    
}

.manage {color:white;}

.footer-navigation {
    margin:0;
    width: 20;
    float: left;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}


.footer-link{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

.footer-navigation-link{
    display: block;
    margin: 0 0 10px 0;
    line-height: 14px;
    font-size: 13px;
    white-space: normal!important;
    list-style-type: none;
    color: #006ce4;
}

.navigation-wrapper{
    padding-left: 200px;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.footer-logos{
    max-width: 1094px;
    min-width: 620px;
    margin: 0 auto;
    padding: 0 8px;
}

.footer_priceline{
    border-top: 1px solid var(--bui_color_white);
    border-bottom: 1px solid var(--bui_color_white);
    margin-top: 3em;
    padding: 0;
    text-align: center;
    font-size: 10px;
    color: gray;
}
.footer_priceline a{
    border-top: 1px solid var(--bui_color_white);
    border-bottom: 1px solid var(--bui_color_white);
    margin-top: 3em;
    padding: 0;
    text-align: center;
    font-size: 15px
}

.links-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.links-footer li{
    margin: 20px;
}

.footer{
    display: flex;
    flex-direction:column;
}

